body {
    display: flex;
    background-color: rgb(90, 156, 237);
    flex-direction: column;
    padding: 15px 0px 0px 0px;
    align-content: center;
}

.mainHeader {
    display: flex;
    justify-content: center;
}

.mainHeader{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
    color: rgb(242, 242, 242);
    margin-bottom: 25px;
}

.gameBox {
    background-color: rgb(90, 156, 237);
    display: flex;
    justify-content: center;
    color: rgb(242, 242, 242);
    border-radius: 10px;
}

.gamesTabs{
    width: 200px;
    height: 180px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;    
}

.image {
    height: 120px;
    width: auto;
}